@charset "UTF-8";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  font-size: 15px;
  color: #454545;
}


.main {
	margin-top: 70px;
	margin-left: 10px;
	font-size: 10vw;
}

.mainContent {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	text-justify: inter-word;
}

.header{
  padding-top: 20px;
  margin: 0px;
  text-align: left;
  display: block;
  color: #454545;
  font-size: 4vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.subScript {
  font-size: 2vw;
  color: #818181;
  margin: 0;
  padding: 0px;
}

.noNav{
	padding: 5%;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}


@media screen and (max-height: 1300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}