@charset "UTF-8";

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: #6e6b70;
  font-size: 15px;
  color: #000000;
}

span{
	font-size: 40px;
	cursor:pointer; 
	color: white;
}

hr{
  width: 30%;
  text-align: center;
  color: #86c232;
  padding-top: 0px;
}

h1{
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 3px #6B6E70;
}

footer {
  text-align: left;
  background-color: #222629;
  color: #C0C0C0;
  font-size: 15px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right:15%;
}

.activities {
	color:white;
	background-color: #222629;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	padding-right:10%;
	margin-top: 4%;
	margin-bottom: 4%;
	
}

.highlight{
	font-size: auto;
	font-family: 'Sora', sans-serif;
	color: white;
	background-color: #222629;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 15%;
	padding-right:15%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.greenB{
	color: #86c232;
}
.project{
	color:white;
	background-color: #222629;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	padding-right:10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.skillsClass{
	color: white;
	background-color: #222629;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	padding-right:10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.eduClass{
	color: white;
	background-color: #222629;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	padding-right:10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.button:link, .button:visited {
  background-color: #474b4f;
  color: #C0C0C0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.button:hover{
   background-color: #86c232;
   color: #222629;
}
.proPic{
	max-width: 70%;
	height: auto;
	text-align: right;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 10%;
	padding-left: 5%;
}

.main {
	margin-top: 70px;
	margin-left: 10px;
	font-size: 10vw;
}

.mainContent {
	margin: 10px 2px 20px 2px;
	padding: 10px 10px 10px 10px ;
	padding-bottom: 20px;
	text-align: justify;
	text-justify: inter-word;
	background-color: #313131;
	color: white;
	border-radius: 5px;
	box-shadow: 8px 10px #222629;
}

.content{
  padding-left: 5%;
  padding-right: 5%;
  font-size: auto;
  font-family: 'Sora', sans-serif;
}

.header{
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
  display: block;
  color: #323232;
  font-size: 4.5vw;
  background-image: url("pic/bbg2.JPEG");
  box-shadow: 10px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;
	
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222629;
  color: #ADADAD;
  padding-left: 5%;
}

.sticky + .content {
  padding-top: 60px;
}

.subScript {
  font-size: 1vw;
  color: #474b4f;
  margin: 0px;
  padding-bottom: 20px;
  font-family: 'Mallanna', sans-serif;
}

.noNav{
	padding:5%;
	margin-left: 10%;
	margin-right: 10%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F1F1F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  color: white;
}

.sidenav active{
  color: #222629;
  backgrounf-color: #86c232;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.title{
  font-size: 5vw;
  text-align: center;
  color: #86c232;
  font-family: 'Anton', sans-serif;
}

.menuBar{
  font-size: 50px;
}

#tProfile{
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin: 0px ;
}

#skillTable{
	text-align: center;
	width: 100%;
	border: none;
	margin: 0px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2f2f2f; /* Set a background color */
  color: #A4A4A4; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  font-family: 'Assistant', sans-serif;
}

#myBtn:hover {
  color: white;
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*
#navbar {
  overflow: hidden;
  background-color: #333;
  height: 8%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}
*/

@media only screen and (max-width: 1300px) {
	span{
		font-size: 15px;
	}
	.noNav{
		font-size: 3vw;
	}
}

@media only screen and (min-width: 1500px) {
	.content{
		font-size: 20px;
	}
	.highlight{
		font-size: 19px;
	}
	.header{
		font-size: 3vw;
	}
	.proPic{
		max-width: 50%;
	}
	
	#name{
		padding: 0px;
		margin: 0px;
		text-align: left;
	}

}