@charset "UTF-8";
head{
 background-color: black;
 padding-top: 20px;
 padding-bottom: 1px;
 text-align: left;
 color: white;
 margin: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #3F3F3F;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


.main {
	margin-left: 200px;
	margin-top: 0;
	font-size: 6vw;
}

.mainContent {
	margin-left: 200px;
	font-size: 20px;
}
@media screen and (max-width: 550px) {
 .sidebar {
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #3F3F3F;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
	
.main {
	margin-left: 120px;
	margin-top: 0;
	font-size: 6vw;
}
}